/*body {
  font-family:'Helvetica', sans-serif;
}*/

/* ON-OFF switch button */
/* Sébastien Rochette */
/* http://sebrock.fr/en/ */
/* CSS modified from : https://proto.io/freebies/onoff/ */
/* All switch */
.onoffswitch {
  width: 100px;
  position: relative;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
  font-family:'Helvetica', sans-serif;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 30px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -10%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 30%; height: 20px; padding: 0; line-height: 20px;
  font-size: 11px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}

/* All switch - default div class */
.onoffswitch-inner:before {
  content: " ";
  padding-left: 12px;
}

.onoffswitch-inner:after {
  content: " ";
  padding-right: 22px;
  text-align: right;
}

.onoffswitch-switch {
  display: block; width: 50px; height: 15px; margin: 5px;
  position: absolute; top: 0; bottom: 0;
  border-radius: 10px;
  right: 41px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

/* GreyBlue */
.GreyBlue .onoffswitch-inner:before {
  background-color: #FFFFFF; color: #428bca;
}
.GreyBlue .onoffswitch-inner:after {
  background-color: #FFFFFF; color: #AAA;
}
.GreyBlue .onoffswitch-switch {
  background: #AAA;
  border: 2px solid #AAA;
  border: 2px solid rgba(97, 93, 93, 0.49);
}
.GreyBlue .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  background-color: #428bca;
}

/* Text change */
/* On / Off */
.OnOff .onoffswitch-inner:before {
  content: "ON";
}

.OnOff .onoffswitch-inner:after {
  content: "OFF";
}
/* Yes / No */
.YesNo .onoffswitch-inner:before {
  content: "YES";
}

.YesNo .onoffswitch-inner:after {
  content: "NO";
}
/* True / False */
.TrueFalse .onoffswitch-inner:before {
  content: "TRUE";
}

.TrueFalse .onoffswitch-inner:after {
  content: "FALSE";
}

#lifeCourse{width: 150px;  margin: 0 auto;}
#lifec{margin-bottom: -25px;}

